<nav class="navbar navbar-expand-md bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CERTUS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active me-3" aria-current="page" href="#">Características</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="#">Soporte para</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="#">Empresas</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link active" aria-current="page" href="#">Precios</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-primary" type="submit">Inscribirte</button>
        </form>
      </div>

    </div>
  </nav>