<div class="d-flex justify-content-center">
  <div class="card text-center" style="width: 330px">
    <div class="card-header">Libre</div>
    <div class="card-body">
      <div style="display: flex; justify-content: center">
        <h5 class="card-title">$0</h5>
        /mes
      </div>
        <p class="card-text mb-0">10 Usuarios incluidos</p>
        <p class="card-text mb-0">2 GB de almacenamiento</p>
        <p class="card-text mb-0">Soporte de correo electronico</p>
        <p class="card-text mb-0">Acceso al centro de ayuda</p>
    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-outline-primary">Registratre gratis</a>
    </div>
  </div>
  <div class="card text-center ms-3" style="width: 330px">
    <div class="card-header">Pro</div>
    <div class="card-body">
      <div style="display: flex; justify-content: center">
        <h5 class="card-title">$15</h5>/mes
      </div>
      <p class="card-text mb-0">20 Usuarios incluidos</p>
      <p class="card-text mb-0">10 GB de almacenamiento</p>
      <p class="card-text mb-0">Soporte proriotario por correo electronico</p>
      <p class="card-text mb-0">Acceso al centro de ayuda</p>
    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-primary">Empezar</a>
    </div>
  </div>
  <div class="card text-center ms-3" style="width: 330px">
    <div class="card-header">Empresa</div>
    <div class="card-body">
      <div style="display: flex; justify-content: center">
        <h5 class="card-title">$29</h5>/mes
      </div>
      <p class="card-text mb-0">30 Usuarios incluidos</p>
      <p class="card-text mb-0">15 GB de almacenamiento</p>
      <p class="card-text mb-0">Soporte telefónico y por correo electronico</p>
      <p class="card-text mb-0">Acceso al centro de ayuda</p>
    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-primary">Contáctenos</a>
    </div>
  </div>
</div>
